@import "pod-styles";
@import "ember-bootstrap/bootstrap";

html, body, body > .ember-view {
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.text-align {
  &-right {
    text-align: right;
  }
}
