<div class="header">
  <h1>Provider Directory</h1>
</div>

<div class="provider-container flex-row">
  {{provider-form
    provider=provider
    submitProvider=(action "onSubmit")
    cancelProvider=(action "onCancel")
  }}

  {{provider-list
    providers=providers
    removeProviders=(action "onRemove")
    editProvider=(action "onEdit")
  }}
</div>